html, body {
  background-color: #262626;
  color: #B1B1B1;
  font-family: Helvetica, Arial, sans-serif;

  margin: 0;
  padding: 0;

  overflow: hidden;
}

#titlebar {
  width: 100%;
  height: 24px;
  background-color: #212121;
  -webkit-app-region: drag;
}

.question-container {
  width: 50vw;
  margin: 15% auto;
}

.dropzone {
  width: 50vw;
  height: 50vh;

  border: 5px dashed #333333;
  border-radius: 15px;
  margin: 20vh auto 0 auto;

  font-size: 30px;
  color: #999999;
  text-align: center;
  padding-top: 20vh;
}

.dropzone-entered {
  border: 5px dashed #555555;
  color: #E2E2E2;
}

.score {
  width: 100px;

  position: absolute;
  top: 80px;
  left: calc(50vw - 50px);

  text-align: center;
  font-size: 36pt;
}

#end-screen {
  text-align: center;
  font-size: 36pt;

  margin-top: 35vh;
  width: 100%;
}

#end-screen a {
  margin-top: 20px;
}
